body{
    background-color: lightblue;
    color: aquamarine;
    font-family: cursive;
    text-shadow: 1px 1px 0.5cm rgb(255, 255, 255);
}
.form{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    border: 2px solid black;
    background-color: tomato;
    font-family: 'Times New Roman', Times, serif;

}
input{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
input:hover{
    border-color: blue;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}